<?xml version='1.0' encoding='utf-8'?>
<widget id="test.project" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>hmmodz test</name>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="www/icon.png" />
    <preference name="Orientation" value="portrait" />
</widget>